.tbdr{
  border:1px solid black;
}
header{
  border: 0 dashed red;
  background: hsl(214, 27%, 10%);
}
.a_header_top{
  height:75px ;
  border: 1px dashed red;
  background: hsl(214, 27%, 10%);
  z-index: 10000;
}
  .a_header_top > button:hover{
    border: 1px solid #fff;
  }
  .a_ht_countrydd{
    width: 20% !important;
    left:950px !important;
    top:20px !important;
  }
  .a_singin_modal{

    display: block !important;
  }
  .a_singin_modal p{
   font-size: 13px;
   
  }
  .a_singin_modal a{
    color:rgb(160, 207, 238) !important ;
  }
  .a_ht_singin_modal{
    top:32px !important;
    left:368px !important;
  }
  .a_ht_singin_modal a:hover,a:focus{
    text-decoration:underline ;
    color: #f0c350;
    box-shadow: none !important;
  }
  
   .a_ht_singin_modal a{
    font-size: 12px;
    padding: 2px !important;
    color:#131a22;      
   }
  .a_header_bottom{
  height:49px ;
  border: 1px dashed rgb(34, 53, 34);
  background: #203040;
}
.a_header_bottom a{
  /*trbl*/
  padding:5px 10px 5px 10px;
  margin-top: 3px;
  font-size: 15px;
  color: #fff;
  
}
.a_header_bottom a:hover{
  outline: 1px solid #fff;
  color: #fff;
}
.a_header_bottom a:active,.a_header_bottom a:focus{
  color: #fff;
}
.mhcolor{
  background-color:hsl(214, 27%, 10%); 
}
.mhul li a{
 color: #333;
  padding-left: 30px;
}
.mhul li a:hover{
  background: #eaeded;
  color: #333;
}
.handalmodal{
  max-width: 365px !important;
  top:-30px !important;
  border-radius: 0px !important;
  transition: all 0.3s linear !important;
}
.l934{
  left: -934px;
}
.l334{
  left:-566px
}
.hbenner{
  padding: 0px !important;
  margin: 0px;
}

.a_main{
  height: 5017px;
  border: 0 dashed blue;
 
  
}
.a_main_top{
  height: 600px;
  border: 1px dashed black;
  top:0px;
  

}
.a_main_top .carousel-control-next,.a_main_top .carousel-control-prev {
height: 38%;

width: 40px;
border:2px solid lightskyblue ;
outline: 2px solid white;
}
.a_main_bot{
  height: 4707px;
  border: 1PX dashed black;
  background-color:wheat;
  top :359px !important;
  width: 97%;
  left:20px; 
}

.a_main_bot_1{
  height:423px;
}
.a_mainbox_1{
  height: 98%;
  width: 98%;
  background: blue;
}
.a_mainbox_1_inner >div{
  height:90%
}
.a_mainbox_1_inner .col-6{
  height:140px;
  
}
.a_mainbox_1_inner .row a{
font-size: 12px;
}
.a_mainbox_1_inner a{
  text-decoration: none;
}
.a_main_bot_2{
  height:423px;
}
.a_mainbox_2{
  height: 98%;
  width: 98%;
  background:#fff;
}
.a_mainbox_2_inner >div{
  height:90%
}
.a_mainbox_2_inner .col-6{
  height:140px;
  
}
.a_mainbox_2_inner .row a{
font-size: 12px;
}
.a_mainbox_2_inner a{
  text-decoration: none;
}
.a_main_bot_3{
  height:364px;
}
.imgcont{
  height:300px ;
  background-color: #8050f0;
}
.carouselExampleControls2 .carousel-control-prev,.carouselExampleControls2 .carousel-control-next{
  background:#fff;
  width: 3%;
  height: 30%;
  top:111px;
  display: block;
  opacity: 1 !important;
}
.carouselExampleControls2 .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #333;
}

.carouselExampleControls2 .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:#333;
}
.carouselExampleControls2 .carousel-control-prev{
  box-shadow: 2px 0px 3px 3px rgba(0, 0,0, 0.5);
}
.carouselExampleControls2 .carousel-control-next{
  box-shadow: -2px 0px 3px 3px rgba(0, 0,0, 0.5);
}
.a_main_bot_4{
  height:287px;
  
}
.imgcont2{
  height: 237px;
  
}
.carouselExampleControls3 .carousel-control-next-icon:after ,.carouselExampleControls3 .carousel-control-prev-icon:after
{
  font-size: 45px !important; 
}
.carouselExampleControls3 .carousel-control-prev,.carouselExampleControls3 .carousel-control-next
{
  top:90px !important;
  opacity: 0 !important; 
}
.a_main_bot_4:hover .carousel-control-prev,.a_main_bot_4:hover .carousel-control-next
{
  opacity: 1 !important; 
}

.a_main_bot_5{
  height:423px;
  background-color:blue;
}
.a_mainbox_5{
  height: 98%;
  width: 98%;
  background: #f0c350;
}
.a_mainbox_5_inner >div{
  height:90%
}
.a_mainbox_5_inner .col-6{
  height:140px;
  
}
.a_mainbox_5_inner .row a{
font-size: 12px;
}
.a_mainbox_5_inner a{
  text-decoration: none;
}
.a_main_bot_6{
  height:287px;
  background-color:blueviolet;
}

.a_main_bot_6:hover .carousel-control-prev,.a_main_bot_6:hover .carousel-control-next
{
  opacity: 1 !important; 
}

.a_main_bot_7{
  height:283px;
}
.a_main_bot_7 a{
  height: 100%;
  width: 94%;
}

.a_main_bot_8{
  height:283px;
  background-color:darkgreen;
}
.a_main_bot_8:hover .carousel-control-prev,.a_main_bot_8:hover .carousel-control-next
{
  opacity: 1 !important; 
}
.a_main_bot_9{
  height:423px;
  background-color:darkslateblue;
}
.a_mainbox_9{
  height: 98%;
  width: 98%;
  background: #f0c350;
}
.a_mainbox_9_inner >div{
  height:90%
}
.a_mainbox_9_inner .col-6{
  height:140px;
  
}
.a_mainbox_9_inner .row a{
font-size: 12px;
}
.a_mainbox_9_inner a{
  text-decoration: none;
}
.a_main_bot_10{
  height:283px;
  background-color:dodgerblue;
}
.a_main_bot_10:hover .carousel-control-prev,.a_main_bot_10:hover .carousel-control-next
{
  opacity: 1 !important; 
}
.a_main_bot_11{
  height:283px;
  background-color:gold;
}
.a_main_bot_11:hover .carousel-control-prev,.a_main_bot_11:hover .carousel-control-next
{
  opacity: 1 !important; 
}
.a_main_bot_12{
  height:423px;
  background-color:hotpink;
}

footer{
  height:605px;
  border: 0 dashed green;
  background: #131a22;
  
}
.a_footer_top{
height:452px;
background-color:#232f3e;
}
.a_footer_top a{
  padding:4px 0px;
  color:#fff;
}
.a_footer_top a:hover{
  text-decoration:underline;
  color: #fff;
}
.a_footer_top .container{
  max-width: 990px;
}

.a_footer_bottom{
  height:227px;
  background-color: #131921;
}