.tbdr{
  border:1px solid black;
}
/* ****************Home start*******************8888 */
header{
  border: 0 dashed red;
  background: hsl(214, 27%, 10%);
}
.a_header_top{
  height:75px ;
  border: 1px dashed red;
  background: hsl(214, 27%, 10%);
  z-index: 10000;
}
  .a_header_top > button:hover{
    border: 1px solid #fff;
  }
  .formboder{
border:3px solid #ff9900 !important;
  }
  .hform{
    width: 46% !important;
    border-radius:5px ;
    border: 3px solid #131921 ;
    
  }
  .hform input:focus{
    border :none;
    box-shadow:none;
  }
  .a_ht_countrydd_btn:hover>div{
 opacity: 1;
 visibility: visible;
  }
  .a_ht_countrydd{
    width: 238px; 
    height: 300px;
    background-color: red;
    top:65px ;
    right: 180px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0,0, 0.1); 
    opacity: 0;
    visibility:hidden;
  }
  
  .a_singin_modal{

    display: block !important;
    text-align: center;
  }
  .a_singin_modal p{
   font-size: 13px;
   
  }
  .a_singin_modal a{
    color:rgb(160, 207, 238) !important ;
  }
  .a_ht_singin_modal_btn:hover>div.a_ht_singin_modal{
    opacity: 1;
    visibility: visible;
  }

  .a_ht_singin_modal{
    background-color: white;
   width:500px;
   height:370px;
   right:51px;
   top:65px ;
   box-shadow: 0px 0px 5px 5px rgba(0, 0,0, 0.1);
   text-align: left;
   opacity: 0;
   visibility: hidden;
   transition: all .1s linear 0.1s;
   /* transiton property duration timing-function dealy|initial\inherit */
  }
  .a_ht_singin_modal a:hover,a:focus{
    text-decoration:underline ;
    color: #f0c350;
    box-shadow: none !important;
  }
  
   .a_ht_singin_modal a{
    font-size: 12px;
    padding: 2px !important;
    color:#131a22;      
   }
  .a_header_bottom{
  height:49px ;
  border: 1px dashed rgb(34, 53, 34);
  background: #203040;
}
.a_header_bottom a{
  /*trbl*/
  padding:5px 10px 5px 10px;
  margin-top: 3px;
  font-size: 15px;
  color: #fff;
  
}
.a_header_bottom a:hover{
  outline: 1px solid #fff;
  color: #fff;

}
.a_header_bottom a:active,.a_header_bottom a:focus{
  color: #fff;
}
.overylay{
  background-color:rgba(0, 0,0, 0.6);
  position: fixed !important;
  z-index: 10000;
  transition: all linear 0.5s;
}
.a_visible{
  opacity: 1;
  visibility: visible;
}
.a_invisible{
  opacity: 0;
  visibility: hidden;
}
header{
  position: relative ;
  z-index: 10001;
}
.primebox{
  width:339px ;
  height:340px;
  background-color: white;
}
.prime:hover ~div{
display: block !important;
}
.arrow-up{
  width: 0;
  height: 10px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  top:-10px;
  left:46px;
}
.arrow-up_prime{
  top:-10px;
  left:46px;
}
.arrow-up_country{
  top:-10px;
  left:42px;
}
.arrow-up_sing{
  top:-10px;
  left:326px;
}
.mhcolor{
  background-color:hsl(214, 27%, 10%); 
}
.mhul li a{
 color: #333;
  padding-left: 30px;
}
.mhul li a:hover{
  background: #eaeded;
  color: #333;
}
.handalmodal{
  max-width: 365px !important;
  top:-30px !important;
  border-radius: 0px !important;
  transition: all 0.3s linear !important;
  position: absolute;
    z-index: 10003 !important;
}
.l934{
  left: -934px;
}
.l334{
  left:-566px
}
.hbenner{
  padding: 0px !important;
  margin: 0px;
}

.a_main{
 min-height: 5017px;
  border: 0 dashed blue;
 
  
}
.a_main_top{
  height: 600px;
  border: 1px dashed black;
  top:0px;
  

}
.a_main_top:hover .carousel-control-next,.a_main_top:hover .carousel-control-prev {
height: 38%;

width: 40px;
border:3px solid lightskyblue ;
outline: 3px solid white;
}
.a_main_bot{
  height: 4707px;
  border: 1PX dashed black;
  background-color:wheat;
  top :359px !important;
  width: 97%;
  left:20px; 
}

.a_main_bot_1{
  height:423px;
}
.a_mainbox_1{
  height: 98%;
  width: 98%;
  background:#fff;
}
.a_mainbox_1_inner >div{
  height:90%
}
.a_mainbox_1_inner .col-6{
  height:140px;
  
}
.a_mainbox_1_inner .row a{
font-size: 12px;
}
.a_mainbox_1_inner a{
  text-decoration: none;
}
.a_mainbox_1_singbox{
  height: 120px;
  width: 298px !important;
}
.a_main_bot_2{
  height:423px;
}
.a_main_bot_3{
  height:364px;
}
.imgcont{
  height:300px ;

}
.carouselExampleControls2 .carousel-control-prev,.carouselExampleControls2 .carousel-control-next{
  background:#fff;
  width: 3%;
  height: 30%;
  top:111px;
  display: block;
  opacity: 1 !important;
}
.carouselExampleControls2 .carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #333;
}

.carouselExampleControls2 .carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color:#333;
}
.carouselExampleControls2 .carousel-control-prev{
  box-shadow: 2px 0px 3px 3px rgba(0, 0,0, 0.5);
}
.carouselExampleControls2 .carousel-control-next{
  box-shadow: -2px 0px 3px 3px rgba(0, 0,0, 0.5);
}
.a_main_bot_4{
  height:287px;
  
}
.imgcont2{
  height: 237px;
  
}
.carouselExampleControls3 .carousel-control-next-icon:after ,.carouselExampleControls3 .carousel-control-prev-icon:after
{
  font-size: 45px !important; 
}
.carouselExampleControls3 .carousel-control-prev,.carouselExampleControls3 .carousel-control-next
{
  top:90px !important;
  opacity: 0 !important; 
}
.a_main_bot_4:hover .carousel-control-prev,.a_main_bot_4:hover .carousel-control-next
{
  opacity: 1 !important; 
}

.a_main_bot_5{
  height:423px;

}

.a_main_bot_6{
  height:287px;
  
}

.a_main_bot_6:hover .carousel-control-prev,.a_main_bot_6:hover .carousel-control-next
{
  opacity: 1 !important; 
}

.a_main_bot_7{
  height:283px;
}
.a_main_bot_7 a{
  height: 100%;
  width: 94%;
}

.a_main_bot_8{
  height:283px;

}
.a_main_bot_8:hover .carousel-control-prev,.a_main_bot_8:hover .carousel-control-next
{
  opacity: 1 !important; 
}
.a_main_bot_9{
  height:423px;
 
}

.a_main_bot_10{
  height:283px;
  
}
.a_main_bot_10:hover .carousel-control-prev,.a_main_bot_10:hover .carousel-control-next
{
  opacity: 1 !important; 
}
.a_main_bot_11{
  height:283px;
  
}
.a_main_bot_11:hover .carousel-control-prev,.a_main_bot_11:hover .carousel-control-next
{
  opacity: 1 !important; 
}
.a_main_bot_12{
  height:423px;
}

footer{
  height:605px;
  border: 0 dashed green;
  background: #131a22;
  
}
.a_footer_top{
height:452px;
background-color:#232f3e;
}
.a_footer_top a{
  padding:4px 0px;
  color:#fff;
}
.a_footer_top a:hover{
  text-decoration:underline;
  color: #fff;
}
.a_footer_top .container{
  max-width: 990px;
}

.a_footer_bottom{
  height:227px;
  background-color: #131921;

}
/* *****************Home end*********************888888 */
/*************** detail page start*****************/
.a_dtl_main{
  width: 98% !important;
}
.a_dtl_top_banner{
  height:50px;
}
.t1225{
  top:1225px;
}
.a_dtl_prodMainImage{
  width: 410px !important;
  height: 410px !important;
}
.a_dtl_prodCon{
  height: 1720px;
}

  .a_price_clr{
    color: orangered;
  }
  .a_dtl_prodContBottom{

  height: 340px;
}
.a_dtl_havQ {
  height: 170px;
}
.a_dtl_prodRelItem {
  height: 370px;
}
.a_dtl_custRev{
  height: 400px;
}
.a_dtl_prothumnil{
  width: 80px !important;
}
.a_dtl_prothumnil a:hover{
  border:1px solid #e77600 !important;
}

/**************** detail page end*************/
/* *******************singin sTART******* */
.amznbtn{
  /* background-image: linear-gradient(direction, color-stop1, color-stop2, ...); */
  background-image: -webkit-linear-gradient(top ,#ffffcc 0% , #ffcc99 10%,#ffcc66 50%);

}
.signinforcont a.alogo {
  width: 110px;
  height: 42px;
  line-height: 41px;
  text-align: center !important;

}
.ccName{
  width: 20px;
  height:20px;
  top: 8px;
  right: -21px;
  background-position: 173px 548px  !important;
}
.spritesheet{
  background: url('https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png'); 
 
}
.sprt_pos{
  background-position: -2px -122px
}
.a_anch_dec a{
  text-decoration: none;
}
.a_anch_dec a:hover{
  color:#C7511F !important;
  text-decoration:underline;
}
.a_anch a:hover{
  text-decoration: none;
}
/* *******************register end******* */

/* *******************register end******* */
/* *******************search sTART******* */
.a_srch_main{
 
}
.a_srch_main_1{
  height: 47px;
}
.a_srch_main_2{
height: 2000px;
}
.a_srch_main_1_anch{
  text-decoration: none !important;
}
.a_spritsheet_con{
  width:98px ;
  height:20px ;

}
.a_srch_sprsht{
  background: url('https://m.media-amazon.com/images/S/sash/3-fm1Jbg4IHlyhq.png') ; 
}
.a_5star{
background-position: -98px -110px
}
.a_4star{
  background-position: -2px -86px;
  }
  .a_4_5star{
    background-position: -2px -86px;
    }
 .a_3star{
  background-position: -293px -183px
   }
   .a_3_5star{
    background-position: -195px -159px
     }
   
  .a_2star{
  background-position: -99px -134px;
  }
  .a_2_5star{
    background-position: -2px -110px;
    }
  .a_1star{
    background-position:-389px -230px;
    }
  .a_1_5star{
    background-position: -292px -207px;
  }
  .arrow_con{
    width: 12px;
    height:16px;
    top:0px;
    right:-13px;
  }
  .a_dwn_arrow{
    background-position:-6px -54px; 
  }
  .glob_rating{
    right: 585px;
    top: -1px
  }
  .srch_prime_box{
    width:55px;
    height: 19px;
  }
  .prime_pos{
    background-position:-6px -489px;
  }
  .prm_text{
    top: -4px;
    right: 498px;
  }
  .a_aside_star{
    height: 20px;
    width: 98px;
  }
/* *******************search end******* */